<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<!--  拦截action异常并做后续处理  -->
	<bean class="com.uuola.txweb.framework.resolver.WebAppExceptionResolver" 
			p:order="1" 
			p:useLogger="true"
			p:exceptionViewName="exception/default" 
	/>
	
	<bean id="FileExtNameValidator"
	      class="com.uuola.txcms.component.FileExtNameValidator"
	      p:imageExtNames="|jpg|png|gif|jpeg|"
	      p:commonExtNames="|jpg|png|gif|jpeg|doc|docx|xls|xlsx|ppt|pptx|flv|mp4|txt|zip|7z|rar|"
	/>
	 
	<context:component-scan base-package="com.uuola.txcms.**.action"/>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/manager/app/**" />
			<bean id="managerAccessActionInterceptor" class="com.uuola.txcms.interceptor.ManagerAccessActionInterceptor">
				<property name="redirectUrl" value="/manager/verify/login?from=access.interceptor"/>
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/info/api/**" />
			<bean id="ajaxRequestSourceInterceptor" class="com.uuola.txcms.interceptor.AjaxRequestSourceInterceptor">
				<property name="checkHeaders">
					<map>
						<entry key="X-Requested-With" value="XMLHttpRequest" />
						<entry key="Referer" value="986001.com" />
					</map>
				</property>
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/h5gfs/**/index.html" />
			<bean id="fileResourceWebAccessInterceptor" class="com.uuola.txcms.interceptor.FileResourceWebAccessInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>